@model LeasingServiceModel

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Name...">
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountPerMonth"></label>
                <input asp-for="AmountPerMonth" class="form-control" placeholder="AmountPerMonth...">
                <span asp-validation-for="AmountPerMonth" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Months"></label>
                <textarea asp-for="Months" rows="1" class="form-control" placeholder="Model..."></textarea>
                <span asp-validation-for="Months" class="small text-danger"></span>
            </div>
            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>