
@{
    ViewBag.Title = "All Catalogue";
}

@*<div class="container flex-row">
    @foreach (var catalogue in Model)
    {
        <button asp-action="DisplayCatalog" asp-controller="CatalogueController">@catalogue.Category</button>
    }
</div>*@
